<h1 mat-dialog-title>Editar contato</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>id</mat-label>
    <input matInput [(ngModel)]="data.id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="data.lastName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="data.phone">
  </mat-form-field>
</div>

<div mat-dialog-actions >

  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button color="primary" (click)="save()">Salvar</button>
</div>

