mat-table {
  max-width: 1200px;
  margin: 2em auto;
  padding: 30px;
  overflow: auto;
}

.loading-spinner {
  padding: 25px;
  // background: rgba($color: #c3dfec, $alpha: 1.0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.action-col{
  flex: 0 0 75px;
}

.action-header{
  flex: 0 0 55px;
}
