<div *ngIf="contacts$ | async as contacts; else loading">
  <mat-table [dataSource]="contacts" class="mat-elevation-z8 col-flex">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.phone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="action-header">
        <button (click)="openModal()" mat-icon-button aria-label="icon">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let contact" class="action-col">
        <!-- ACTION:: DELETE -->
        <button (click)="delete(contact)" mat-icon-button aria-label="icon">
          <mat-icon color="warn">delete</mat-icon>
        </button>
        <!-- END:: DELETE -->

        <!-- ACTION:: EDIT -->
        <button mat-icon-button aria-label="icon">
          <mat-icon color="primary">border_color</mat-icon>
        </button>
        <!-- END:: EDIT -->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- <p *ngIf="contacts.length==0">Nenhuma pessoa cadastrada.</p> -->
  </mat-table>
</div>

<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
